[submodule "examples/submodules/glfw"]
	path = examples/submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "examples/submodules/dj_opengl"]
	path = examples/submodules/dj_opengl
	url = https://github.com/jdupuy/dj_opengl.git
